@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/* Targeting webkit-based browsers */
*::-webkit-scrollbar {
  width: 5px; /* width of the scrollbar */
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background-color: rgb(0 252 237); /* color of the scrollbar handle */
  border-radius: 5px; /* rounded corners */
}

/* Track */
*::-webkit-scrollbar-track {
  background-color: black; /* color of the scrollbar track */
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: yellow; /* color of the scrollbar handle on hover */
}

/* Track on hover */
*::-webkit-scrollbar-track:hover {
  background-color: #ddd; /* color of the scrollbar track on hover */
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(146 238 232);
  text-align: center;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #d6fffe;
}

::selection {
  color: rgb(0, 0, 0);
  background: #d6fffe;
}
