@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}
/* Light mode styles */
.light-mode {
    background-color: #c0dffc;  /*Adjust this color as needed  */
    color: black;
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: black;
    color: white;
  }
  

  