@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}
